*, html, body
{
    padding: 0;
    margin: 0;
}

html
{
    scroll-behavior: smooth;
}

body
{
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
}

/* Hero */

.judul-hero
{
    font-size: 4rem;
}

.btn-more
{
    background-color: transparent;
    border: 0.5px solid rgb(255, 255, 255);
    border-radius: 10px;
    text-decoration: none;
    padding: 10px 20px;
    color: rgb(255, 255, 255);
    margin-top: 200px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.btn-more:hover
{
    color: white;
    background-color: rgb(201, 185, 128);
    transition: 0.3s;
}

.btn-about
{
    background-color: rgb(0, 119, 255);
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);

}

.btn-about:hover
{
    color: white;
    background-color: rgb(0, 90, 193);
    transition: 0.3s;
}

.hero-bg
{
    background-image: url(imageedit_1_8068108920.gif);
    min-height: 600px;
    background-repeat: no-repeat;
    background-position-x: -95px;
    object-fit:cover;
    background-size: cover;
    box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.5);
}


.about-container {
    display: flex;
    justify-content: center; /* Untuk memusatkan posisi */
    align-items: center;
}

.about-us{
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
    background-color: rgb(0, 81, 139);
    padding: 10px 50px;
    margin-top: 395px;
    display: inline-block;
    border-radius: 15px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    transition: 0.3s;
}

.more
{
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
    background-color: transparent;
    padding: 10px 50px;
    margin-top: 395px;
    display: inline-block;
    border-radius: 15px;
    border: 2px solid white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    transition: 0.3s;
}

/* Artikel */
 
.row
{
    display: flex;
    justify-content: space-between;
}

.artikel h1
{
    text-align: center;
    margin: 50px;
    color: rgba(0, 0, 0, 0.5);
}

.card-center
{
    align-items: center;
    text-align: center;
    justify-content: center;
}

.cards
{
    display: flex;
    justify-content: center;
    gap: 20px; /* Jarak antara kedua card */
    margin-top: 20px;
}


.card-harmoni, .card-development, .card-impact {
    height: 550px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
}


.color-harmoni
{
    background-color: orange;
}

.color-development
{
    background-color: rgb(0, 199, 0);
}

.color-impact
{
    background-color: rgb(0, 166, 255);
}

.card-img {
    max-width: 100%;
    height: 200px;
    margin-top: 15px;
    object-fit: cover;
}

.visi {
    text-align: center;
    color: #333;
}

/* Divisi */

.divisi
{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    padding: 0;
    margin: 0 auto;
    min-height: 100vh;
    align-items: center;
}



.judul-divisi h1
{
    text-align: center;
    margin: 60px;
    color: rgba(0, 0, 0, 0.5);
}

.visi
{
    color: rgba(0, 0, 0, 0.5);
}

.circle
{
    width: 200px;
    height: 200px;
    background-color: rgba(255, 255, 96, 0.5);
    border-radius: 50%;
    margin: 10px 200px;

}

.circle img
{
    width: 200px;
    height: 200px;
}

/* Eksternal */

.eksternal-container
{
    position: relative;
    width: 300px;
    height: 250px;
    background-color: #e8e8e8;
    border-radius: 15px;
    overflow: hidden;
    text-align: center;
    font-family: Arial, sans-serif;
    color: #333;
    transition: background 0.3s ease-in-out;
    justify-content: center;

}

.divisi-default
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.divisi-default img
{
    width: 60px;
    margin-bottom: 15px;
}

.divisi-default h3
{
    margin-top: -40px;
    margin-left: 255px;
    font-size: 1.5em;
    margin: 0;    
}

.divisi-hover
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #11998e, #38efef);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.divisi-hover h2
{
    font-size: 1.5em;
    margin: 0;
}

.divisi-hover p
{
    margin: 10px 20px;
    line-height: 1.4;
}

.divisi-default p
{
    margin-top: -40px;
    margin-left: 255px;
}

.eksternal-container:hover .divisi-hover {
    opacity: 1;
}

.eksternal-container:hover .divisi-default {
    opacity: 0;
}

/* Internal */

.internal-container
{
    position: relative;
    width: 300px;
    height: 250px;
    background-color: #e8e8e8;
    border-radius: 15px;
    overflow: hidden;
    text-align: center;
    font-family: Arial, sans-serif;
    color: #333;
    transition: background 0.3s ease-in-out;
    justify-content: center;


}

.internal-container:hover .divisi-hover {
    opacity: 1;
}

.internal-container:hover .divisi-default {
    opacity: 0;
}


/* Comdev */

.comdev-container
{
    position: relative;
    width: 300px;
    height: 250px;
    background-color: #e8e8e8;
    border-radius: 15px;
    overflow: hidden;
    text-align: center;
    font-family: Arial, sans-serif;
    color: #333;
    transition: background 0.3s ease-in-out;
    justify-content: center;

}

.comdev-container:hover .divisi-hover {
    opacity: 1;
}

.comdev-container:hover .divisi-default {
    opacity: 0;
}

/* Sosling */
.sosling-container
{
    position: relative;
    width: 300px;
    height: 250px;
    background-color: #e8e8e8;
    border-radius: 15px;
    overflow: hidden;
    text-align: center;
    font-family: Arial, sans-serif;
    color: #333;
    transition: background 0.3s ease-in-out;
    justify-content: center;

}

.sosling-container:hover .divisi-hover {
    opacity: 1;
}

.sosling-container:hover .divisi-default {
    opacity: 0;
}

/* Ristek */
.ristek-container
{
    position: relative;
    width: 300px;
    height: 250px;
    background-color: #e8e8e8;
    border-radius: 15px;
    overflow: hidden;
    text-align: center;
    font-family: Arial, sans-serif;
    color: #333;
    transition: background 0.3s ease-in-out;
    justify-content: center;

}

.ristek-container:hover .divisi-hover {
    opacity: 1;
}

.ristek-container:hover .divisi-default {
    opacity: 0;
}

/* Rubik */
.rubik-container
{
    position: relative;
    width: 300px;
    height: 250px;
    background-color: #e8e8e8;
    border-radius: 15px;
    overflow: hidden;
    text-align: center;
    font-family: Arial, sans-serif;
    color: #333;
    transition: background 0.3s ease-in-out;
    justify-content: center;

}

.rubik-container:hover .divisi-hover {
    opacity: 1;
}

.rubik-container:hover .divisi-default {
    opacity: 0;
}

@media(max-width: 768px )
{
    .navigasi
    { 
        flex-direction: column;
        text-align: center;
    }

    .navigasi li:last-child
    {
        margin: 10px 0;
    }

}

@media(min-width: 500px) and (max-width: 768px)
{
    .divisi
    {
        display: flex;
        flex-wrap: wrap;
    }
    .hero-bg
    {
        background-size: 400%;
        background-position-x: -525px;
    }
}


/* Animasi */
@keyframes appear{
    from{
        opacity: 0;
        scale: 0.5;
        /* transform: translateX(-100px); */
    }
    to{
        opacity: 1;
        scale: 1;
        /* transform: translateX(0px); */
    }
}

.artikel
{
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}

.navbar img
{
    width: 100px;
    border-radius: 50px;
}


nav
{
    background-image: url(moroccan-flower-dark.png);
}
 
.navbar-nav a
{ 
    color: white;
}

.navbar-nav a:hover
{ 
    color: crimson;
}

/* Footer */

